:root {
    --col-1: #c8d0da;
    --col-2: #ff9999;
    --col-3: #8d8d8d;
    --col-4: #ffffff00;
}

body {
    margin: 0;
    height: 100%;
    background-color: var(--col-3);
    user-select: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-x: hidden;
    font-family: 'Necto Mono';
}

section {
    border-left: 1px var(--col-1) dashed;
    margin-bottom: 96px;
    min-height: 0px;
    width: 100%;
}

section p {
    padding-top: 24px;
    width: 85%;
    margin: auto;
}

.section-design-open {
    height: fit-content;
    transform-origin: top;
    animation: open 0.25s forwards;
    
}

.section-design-closed {
    transform-origin: top;
    animation: close 0.25s forwards;
}

.hide-hr {
    position: absolute; 
    z-index: -1;
    width: 748px;
    height: 1px;
    border: unset;
    margin: 0;
    border-top: 1px var(--col-1) dashed;
    animation: hide 0.25s forwards;
}

.show-hr {
    position: absolute; 
    z-index: -1;
    width: 748px;
    height: 1px;
    margin: 0;
    border: unset;
    border-top: 1px var(--col-1) dashed;
    animation: show 0.25s forwards;
}

p {
    color: var(--col-1)
}

#palette {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100vw;
    height: fit-content;
    border: 1px solid var(--col-1);
    z-index: 1;
}

.swatch {
    width: 50vw;
    height: 12px;
    cursor: pointer;
}

#light {
    background-color: var(--col-3);
    float: right;
}

#dark {
    background-color: var(--col-1);
    float: left;
}

.bg {
    position: fixed;
    z-index: -1;
    top: calc(0vh - 512px);
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: var(--col-2);
    filter: blur(128px);
    width: 512px;
    height: 512px;
}

.icon {
    width: 50%;
    height: 100%;
    padding-top: 128px;
    padding-bottom: 128px;
    margin: auto;
}

.icon svg {
    transform: translateX(25%);
}

#links {
    display: block;
    margin: auto;
    margin-bottom: 96px;
}

#links a {
    display: inline-block;
    font-family: 'Necto Mono';
    text-decoration: none;
    color: var(--col-1);
    font-size: 14px;
}

.link-container {
    margin: auto; 
    width: fit-content; 
    text-align: center
}

.column {
    width: 712px;
    padding-top: 96px;
    margin: auto;
    min-height: 60vh;
}

section svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: scale(0.7);
}

.column .title {
    position: absolute;
    font-family: 'Necto Mono';
    color: var(--col-1);
    font-size: 14px;
    text-align: right;
    margin: 0;
    cursor: pointer;
    transform: translate(-150%, -40%);
}

footer {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 128px;
    background-image: linear-gradient(var(--col-4), var(--col-3));
}

body::-webkit-scrollbar { 
    display: none;
}

@keyframes close {
    from {
        max-height: 1024px;
        opacity: 1;
        transform: scaleY(1);
    }
    to {
        max-height: 0px;
        opacity: 0;
        transform: scaleY(0);
    }
}

@keyframes open {
    from {
        max-height: 0px;
        opacity: 0;
        transform: scaleY(0)
    }
    to {
        max-height: 99999px;
        opacity: 1;
        transform: scaleY(1)
    }
}

@keyframes hide {
    0% {
        max-width: 748px;
    }
    100% {
        max-width: 0px;
    }
}

@keyframes show {
    0% {
        max-width: 0px;
    }
    100% {
        max-width: 748px;
    }
}



@font-face {
    font-family: 'Necto Mono';
    src: url('resources/fonts/NECTOMONO-REGULAR.OTF');
}

@media only screen and (orientation: portrait) {
    p {
        font-size: 24px;
    }

    a {
        font-size: 24px;
    }

    .swatch {
        width: 50%;
        height: 24px;
    }

    .column {
        width: 614px;
    }

    section {
        width: 712px;
    }

    .hide-hr {
        width: 654px;
    }

    .show-hr {
        width: 654px;
    }

    .icon svg {
        transform: translateX(150%);
        opacity: 0;
    }

    .column .title {
        font-size: 20px;
        transform: translate(-125%, -40%)
    }
    
}