body {
    background-color: #ffadad;
    overflow: hidden;
    user-select: none;
}

.column {
    width: 820px;
    height: 100vh;
    margin: auto;
}
.content {
    transform: translateY(35%);
    width: 100%;
    height: 36rem;
}

.content-box {
    border: grey 4px solid;
    box-shadow: grey 8px 8px;
    position: absolute;
    z-index: -1;
    width: 90%;
    height: 36rem;
    transform: translate(10%, -118%);
}

.title {
    font-family: 'Sinistre Dark';
    font-weight: bolder;
    color: #ff0000;
    font-size: 176px;
    line-height: 112px;
    letter-spacing: -0.2rem;;
    height: fit-content;
}

.links {
    width: 100%;
    height: 100%;
    padding: 24px;
}

.cross {
    width: 14px;
    height: 14px;
    transform: translate(50%,5%)
}

.content a {
    font-family: 'Necto Mono';
    font-size: 26px;
    color: #ff0000;
    text-decoration: none;
    cursor: pointer;
}

.content a:hover {
    color: #ffffff;
}

.center-v {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

#decal1 {
    position: absolute;
    z-index: 1;
    transform: translate(50%, -110%);
    animation: decal-anim 5s linear infinite;
    animation-timing-function: ease-in-out;
}

@keyframes decal-anim {
    0%, 100% {
        transform: translate(50%, -115%);
    }
    50% {
        transform: translate(50%, -110%);
    }
  }

@font-face {
    font-family: 'Sinistre Dark';
    src: url('resources/fonts/SINISTRE-DARK.OTF');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Necto Mono';
    src: url('resources/fonts/NECTOMONO-REGULAR.OTF');
    /* font-weight: normal;
    font-style: normal; */
}

@media only screen and (orientation: portrait) {
    .content a {
        font-size: 32px;
    }
  }